// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

/* Post show page */
@import "post_body";
body {
  font-family: Hiragino Sans GB, "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,sans-serif;
}

/* header */

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #ff7623;
  margin-bottom: 40px;
  margin-top: 0px;

  .dropdown-menu {
    padding: 0px;
    li {
      text-align: center;
      a {
        border-bottom: 1px solid #d8d8d8;
        line-height: 2.4;

        .glyphicon {
          margin-right: 8px;
        }
      }
    }
  }
}

html {
  position: relative;
  min-height: 100% ;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


/* Footer page */
.footer {
  position: absolute;
  bottom: 0;
  width: 100% ;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ff7623;

  .container {
    padding-right: 15px;
    padding-left: 15px;

    p {
      margin: 19px 0;
      color: #ffffff;

      a {
        color: inherit;
      }
    }
  }
}

/* User Register page */
.register-page {
  img.captcha {
    margin:10px 0 0px 0;
    cursor: pointer;
  }
}


/* User profile page */
.users-show-page {
  .user-info {
    .thumbnail {
      margin-bottom: 0px;
    }
  }

  .nav-tabs {
    margin-bottom: 20px;

    >li > a {
      color: #444444;
    }

    >li.active > a {
      background-color: #ff7623;
      color: #FFFFFF;
    }

  }

  .list-group {
    .list-group-item {
      border:none;
      margin-bottom: 0px;
      border-bottom: 1px solid #efefef;

      .meta {
        color: #b3b3b3;
      }

      a {
        color: #444444;
      }
    }
  }

  .pagination {
    margin:12px 0;
  }
}

/* Post Index Page  Topic Show Page*/
.posts-index-page, .topics-show-page {
  .post-list {
    .nav > li > a {
      position: relative;
      display: block;
      padding:5px 14px;
      font-size: 0.9em;
    }
    a {
      color:#444444;
    }
    .meta {
      font-size:0.9em;
      color:#b3b3b3;
      a {
        color:#b3b3b3;
      }
    }
    .badge {
      background-color: #ff7623;
    }
    hr {
      margin-top:12px;
      margin-bottom: 12px;
      border:0;
      border-top:1px solid #dcebf5;
    }
  }
}

.posts-show-page {

  .panel {
    padding: 15px;

    h1 {
      margin: 0.4em auto 0.6em;
      font-size: 28px;
      line-height: 38px;
    }
  }
}
